<h2 class="underlined">API</h2>
<p class="lead"><strong>Google Places</strong> and <strong>Google Maps</strong> API are used to get the data.</p>
<p>
By using the Google Places API it has been possible to find nearest places on an address. A place can be everything from a restaurant to a park. By finding and collecting all these places and their user comments a database has been created. The reason a database has been chosen is that it allows our own data to be added within the data from Google Places - such as the new generated rating.<br> This means the application does not have to generate these rating each time they are going to be used. Besides that the database has also been chosen because Google Places only allow 1000 requests per 24 hour.<br>
In total there were mined 17017 reviews over 4148 places with 14733 different authors.<br>
By mining places every day a cron job was created to make sure there were mined each day.<br>
</p>
<p>Google Maps has been used to visualize a map.</p>
<p>&nbsp;</p>
<p>Since Google Places has a limit on requests every day, there have been focused on mining from certain locations:</p>
<ul>
    <li>Popular cities in USA</li>
    <li>Popular cities in United Kingdom</li>
    <li>Popular cities in France</li>
    <li>Popular cities in Italy</li>
</ul>
<p>Totally there have been mined <strong>{{ total_reviews_count }} reviews</strong> over <strong>{{ total_places_count }} places</strong> with <strong>{{ total_authors_count }}</strong> different <strong>authors</strong>.</p>
<p>&nbsp;</p>
<ul class="nav nav-pills nav-justified" id="apitabs">
    <li role="presentation" class="active">
        <a aria-expanded="false" id="placedetails-tab" data-toggle="tab" aria-controls="placedetails" href="#placedetails">Place details</a>
    </li>
    <li role="presentation">
        <a aria-expanded="false" id="placesearch-tab" data-toggle="tab" aria-controls="placesearch" href="#placesearch">Place search</a>
    </li>
    <li role="presentation">
        <a aria-expanded="false" id="radiussearch-tab" data-toggle="tab" aria-controls="radiussearch" href="#radiussearch">Radius search</a>
    </li>
</ul>
<div class="tab-content">
    <div id="placedetails" role="tabpanel" class="tab-pane active in" aria-labelledby="placedetails-tab">
        <p>An example of an API call of getting place details, in this case, Esterow Events Consulting Inc in New York.</p>
        <div class="heightlight">
        	<pre class="plot plot-block"><code class="language-json" data-lang="json">{% include "content/google_places_ex.json" %}</code></pre>
        </div>
    </div>
    <div id="placesearch" role="tabpanel" class="tab-pane" aria-labelledby="placesearch-tab">
        <p>An example of an API call of getting places from a textsearch, in this case, New York places.</p>
        <div class="heightlight">
            <pre class="plot plot-block"><code class="language-json" data-lang="json">{% include "content/google_textsearch_ex.json" %}</code></pre>
        </div>
    </div>
    <div id="radiussearch" role="tabpanel" class="tab-pane" aria-labelledby="radiussearch-tab">
        <p>An example of an API call of getting places within an area, in this case, near London (lattitude: 51.503186, longitude: -0.126446) within 5 km.</p>
        <div class="heightlight">
            <pre class="plot plot-block"><code class="language-json" data-lang="json">{% include "content/google_radiussearch_ex.json" %}</code></pre>
        </div>
    </div>
</div>