<h2 class="underlined">Django</h2>
<p class="lead"><strong>Django</strong> is used to create this website.</p>

<p>When using Python, Django is the ultimative choice when combining web and Python. Django is a high level Python framework and uses the model-view-controller architecture.<br>
When storing the places and their data some models have been created:
</p>
<ul>
	<li>Authors: The authors writing user comments.</li>
	<li>Places: The places found with Google Places and their meta data.</li>
	<li>Reviews: The reviews written by authors.</li>
</ul>
<p>
By having these models it is possible get and calculate the data within the models.<br>
Some controllers have also been added to retrieve the data from the models and send it to the views. At the beginning all the data was just sent from the models to the views at page load, but later as the database got bigger it was too slow. At last AJAX calls were implemented to make the web site load almost instantly. AJAX calls are JavaScript implementations to retrieve the data client side from the backend. This means the backend have sub pages that is used by the main page to retrieve the necessary data from the models.
</p>
<p>By using Django the interaction with Python is easy with the Model-View-Controller architecture.</p>
<p>&nbsp;</p>
<p>Different packages used from Python:</p>
<ul>
    <li>Django 1.8.0</li>
    <li>Requests 2.6.0</li>
    <li>Numpy 1.9.2</li>
    <li>Scipy 0.15.1</li>
    <li>Scikit-learn 0.16.0</li>
    <li>NetworkX 1.9.1</li>
</ul>
<p><strong>Django</strong> has been used as the backend for this web site.</p>
<p><strong>Requests</strong> has been used to retrieve data from Google Places.</p>
<p><strong>Numpy, Scipy and Scikit-learn</strong> has been used for machine learning.</p>
<p>&nbsp;</p>
<p>Besides that there have been used JavaScript frameworks like <a href="http://highcharts.com/" title="Highcharts">Highcharts</a>, using HTML5, for visualizing data and <a href="http://sigmajs.org/" title="SigmaJS">SigmaJS</a> for creating network.</p>

