<div class="infobox" style="width: 250px; min-height: 140px;">
    <h6>{{ name }}</h6>
    <p>{{ address }}</p>
    {% if reviewsCount == 1 %}
        <p>{{ reviewsCount }} review</p>
    {% else %}
        <p>{{ reviewsCount }} reviews</p>
    {% endif %}
    <ul>
	    {% for type in types %}
	    	<li>{{ type }}</li>
	    {% endfor %}
    </ul>
</div>