{% load staticfiles  %}

<h2 class="underlined">Machine learning</h2>
<p> When introducing <strong>Machine Learning</strong> into the TriPy, the idea is to see if it is possible from a given review to guess the rating only from the written text. After gathering a lot of data from the google places api and using the scikit-learn tool a prediction tree has been made. </p>
<p>
The first important things is to specify the different values:
</p>
<ul>
    <li>Feature Matrix X: n_samples &times; n_features</li>
    <li>Class vector y: n_samples</li>
    <li>Class Names C: n_class</li>
    <li>Feature Names M: n_features</li>
</ul>
<p>
Which are necessary for the SciKit-learn tool to work and in this particular project they are given as:
</p>
<ul>
 <li>n_sampels is the different ratings from a review.</li>
<li>n_features is the text comment from the same given review</li>
<li>n_class is the different possible ratings; i.e. from google places it varies from one to five</li>
</ul>
<p>
More can be found in the report.
</p>
<div class="info" style="position: relative;">
    <div class="loader">
        <img src="{% static '/static/tripy/images/loader.svg' %}" />
        {% if query|length <= 1 %}
            <p>No destination has been specified, this will take a while.</p>
            <p>It is recommended to search for a desitination</p>
        {% endif %}
    </div>
</div>
<div id="machinelearning-piechart" style="width: 100%;left: 0;position: absolute;bottom:-117px;"></div>

{% block scripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
    var get_rating_errors_url = '{% url 'content.get_rating_errors' %}';
    var query = '{{ query }}';
</script>
<script src="{% static 'tripy/js/machinelearning.js' %}" type="text/javascript"></script>
{% endblock %}