{% load staticfiles  %}
<h2 class="underlined">Network</h2>
<p class="lead"><strong>Network</strong> is used to get an idea of linked places and likes</p>


<p>
It is possible to visualize a lot of different networks, however not all different networks are necessary. A start of network visualization is when a somebody is searching for a city or a country, then from all the reviews coming of this search query. Then checking all the users that have written these reviews if they have wrote other reviews. <br>
Wherever they have written other reviews there are a connection. When creating the network in an edge for all the places are made and they are plotted. A way to make the network better is to make a color for each country or each city, however it is difficult to predict how many different cities there might be and the colors have to be hardcoded in before hand.<br>
</p>
<div class="info">
    <div class="loader">
        <img src="{% static '/static/tripy/images/loader.svg' %}" />
        {% if query|length <= 1 %}
            <p>No destination has been specified, this will take a while.</p>
            <p>It is recommended to search for a desitination</p>
        {% endif %}
    </div>
</div>
<div id="indegree-selector">
	Select the minimum number of in- degrees:
	<select class="js-indegree">
		<option value="1" selected>1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	</div>
<div>

<p>By using NetworkX a network has been made.</p>
<div style="min-height: 500px; position: relative;">
    <div class="info">
        <div class="loader network-loader">
            <img src="{% static '/static/tripy/images/loader.svg' %}" />
            {% if query|length <= 1 %}
                <p>No destination has been specified, this will take a while.</p>
                <p>It is recommended to search for a desitination</p>
            {% endif %}
        </div>
    </div>
	<div id="network-standard" class="plot plot-block"></div>
</div>

<p>A network have also been made by using a JavaScript framework SigmaJS.</p>
<div style="min-height: 500px; position: relative;">
    <div class="info">
        <div class="loader network-loader2">
            <img src="{% static '/static/tripy/images/loader.svg' %}" />
            {% if query|length <= 1 %}
                <p>No destination has been specified, this will take a while.</p>
                <p>It is recommended to search for a desitination</p>
            {% endif %}
        </div>
    </div>
	<div id="network2" class="plot plot-block" style="min-height: 420px;"></div>
</div>

{% block scripts %}
<script type="text/javascript">
    var get_network = '{% url 'content.get_network' %}';
    var get_network2 = '{% url 'content.get_network2' %}';
    var query = '{{ query }}';
</script>
<script src="{% static 'tripy/js/network.js' %}" type="text/javascript"></script>
{% endblock %}
