{% load staticfiles  %}

<h2 class="underlined">Visualization</h2>
<p>For the visualization part there have been created: </p>
<ul>
    <li>Histograms</li>
    <li>Pie chart</li>
    <li><a href="#network" class="scroll" role="button" style="text-decoration: none;">Network</a></li>
    <li>Map</li>
    <li>Heatmap</li>
</ul>
<p>
The histogram diagrams have been used to visualize the rating distribution for the reviews and the average place ratings.<br>
The pie chart has been used to visualize success versus error when comparing the new generated rating with the original.<br>
Network has been used to look at the authors and their behaviour. This is done by looking at authors who have been giving reviews to more at least two places.<br> 
There have been used Google Maps to show the places on a map and also by using a heat map based on the average place ratings.<br>
</p>
    <!--<div class="plot plot-block" id="rating-bar-plot"></div>-->
<ul class="nav nav-pills nav-justified" id="visualizationtabs">
    <li role="presentation" class="active">
        <a aria-expanded="false" id="review-rating-distribution-tab" data-toggle="tab" aria-controls="review-rating-distribution" href="#review-rating-distribution">Reviews distribution</a>
    </li>
    <li role="presentation">
        <a aria-expanded="false" id="place-rating-distribution-tab" data-toggle="tab" aria-controls="place-rating-distribution" href="#place-rating-distribution">Place rating distribution</a>
    </li>
</ul>
<div class="tab-content">
    <div id="review-rating-distribution" role="tabpanel" class="tab-pane active in" aria-labelledby="review-rating-distribution-tab">
        <p class="lead">Reviews: Rating distribution vs new rating distribution</p>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="loader js-reviews-rating-loader">
                    <img src="{% static '/static/tripy/images/loader.svg' %}" />
                    {% if query|length <= 1 %}
                        <p>No destination has been specified, this will take a while.</p>
                        <p>It is recommended to search for a desitination</p>
                    {% endif %}
                </div>
                <div class="plot plot-block" id="distributed-review-rating-bar-plot"></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="loader js-reviews-new-rating-loader">
                    <img src="{% static '/static/tripy/images/loader.svg' %}" />
                    {% if query|length <= 1 %}
                        <p>No destination has been specified, this will take a while.</p>
                        <p>It is recommended to search for a desitination</p>
                    {% endif %}
                </div>
                <div class="plot plot-block" id="distributed-review-new-rating-bar-plot"></div>
            </div>
        </div>
    </div>
    <div id="place-rating-distribution" role="tabpanel" class="tab-pane" aria-labelledby="place-rating-distribution-tab">
        <p class="lead">Places: Place average rating distribution vs new place average rating distribution</p>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="loader js-places-rating-loader">
                    <img src="{% static '/static/tripy/images/loader.svg' %}" />
                    {% if query|length <= 1 %}
                        <p>No destination has been specified, this will take a while.</p>
                        <p>It is recommended to search for a desitination</p>
                    {% endif %}
                </div>
                <div class="plot plot-block" id="distributed-place-rating-bar-plot"></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="loader js-places-new-rating-loader">
                    <img src="{% static '/static/tripy/images/loader.svg' %}" />
                    {% if query|length <= 1 %}
                        <p>No destination has been specified, this will take a while.</p>
                        <p>It is recommended to search for a desitination</p>
                    {% endif %}
                </div>
                <div class="plot plot-block" id="distributed-place-new-rating-bar-plot"></div>
            </div>
        </div>
    </div>
</div>
<p>In the graphs above, it is possible to see the ratings given by the users and the newly created ratings from the machine learning. It is possible to see both the distribution of average ratings for the places, both new and old, and the distribution of all reviews rating.</p>

{% block scripts %}
<script>
    var get_review_ratings_distribution_url = '{% url 'content.get_review_rating_distribution' %}';
    var get_place_ratings_distribution_url = '{% url 'content.get_place_rating_distribution' %}';

    var query = '{{ query }}';
</script>
<script src="{% static 'tripy/js/visualization.js' %}" type="text/javascript"></script>
{% endblock %}

