{% load staticfiles  %}
<!DOCTYPE html>
<html lang="da">
    <head>
        <title>TriPy {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'tripy/js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
        <link href="{% static 'tripy/css/global.css' %}" rel="stylesheet" type="text/css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
    </head>
    <body>
        {% block content %}{% endblock %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="row inner">
                        <div class="col-xs-12 col-lg-4">
                            <div class="contact">
                                <img src="{% static 'tripy/images/s103431.jpg' %}" class="footer-img" alt="Martin Verup" />
                                <ul class="contact-info list-unstyled">
                                    <li class="lead">Martin Verup</li>
                                    <li>s103431</li>
                                    <li><a href="mailto:s103431@student.dtu.dk" title="s103431@student.dtu.dk">E-Mail</a></li>
                                    <li><a href="http://facebook.com/martinverup" title="Martin Verup Facebook">Facebook</a></li>
                                    <li><a href="http://dk.linkedin.com/pub/martin-alexander-verup/78/707/32/en" alt="Martin Verup LinkedIn">LinkedIn</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <div class="contact">
                                <img src="{% static 'tripy/images/s103438.jpg' %}" class="footer-img" alt="Kristian Flamsted" />
                                <ul class="contact-info list-unstyled">
                                    <li class="lead">Kristian Flamsted</li>
                                    <li>s103438</li>
                                    <li><a href="mailto:s103438@student.dtu.dk" title="s103438@student.dtu.dk">E-Mail</a></li>
                                    <li><a href="http://facebook.com/kristian.flamsted" title="Kristian Flamsted Facebook">Facebook</a></li>
                                    <li><a href="http://dk.linkedin.com/pub/kristian-mortensen-flamsted/78/683/233/en" title="Kristian Flamsted LinkedIn">LinkedIn</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                            <div class="contact">
                                <img src="{% static 'tripy/images/s103439.jpg' %}" class="footer-img" alt="Mads Lundt" />
                                <ul class="contact-info list-unstyled">
                                    <li class="lead">Mads Lundt</li>
                                    <li>s103439</li>
                                    <li><a href="mailto:s103439@student.dtu.dk" title="s103439@student.dtu.dk">E-Mail</a></li>
                                    <li><a href="http://facebook.com/madslundt" title="Mads Lundt Facebook">Facebook</a></li>
                                    <li><a href="http://linkedin.com/in/madslundt" title="Mads Lundt LinkedIn">LinkedIn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="copyright">&copy; 2015 TriPy, Inc. All rights reserved.</p>
            </div>
        </footer>
        <script src="{% static 'tripy/js/bootstrap-3.3.4.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'tripy/js/jquery.viewportchecker.js' %}" type="text/javascript"></script>
        <!--<script src="http://maps.google.com/maps/api/js" type="text/javascript"></script>-->
        <script src="{% static 'tripy/js/global.js' %}" type="text/javascript"></script>
        <script src="{% static 'tripy/js/intro.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'tripy/js/sigma.min.js' %}" type="text/javascript"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>