// main: global.less
footer {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #222;
    .box-shadow(0 0 5px 1px #000 inset);
    color: #aaa;

    a {
        color: #333;
        text-decoration: underline;
        font-weight: 700;

        &:hover, &:visited, &:active {
            color: #333;
            text-decoration: underline;
        }
    }

    .lead {
        margin-bottom: 15px;
        border-bottom: 1px solid #666;
        display: block;
        width: 100%;
    }

    .footer-img {
        float: left;
        height: 175px;
        max-width: 175px;
        .transition(.2s);
    }

    .contact-info {
        margin-top: 5px;
        margin-left: 10px;
        display: inline-block;
        font-size: 18px;
    }
    .contact {
        background-color: #fff;
        color: #000;
        overflow: hidden;
        border-radius: 2px;
        margin-top: 10px;

        li {
            margin-bottom: 5px;
        }
    }
    .copyright {
        text-align: center;
        margin-top: 20px;
        color: #444;
        cursor: default;
        &:hover {
            color: #888;
        }
    }
}
