// out: ../global.css, compress: true
// Imports - order is crucial!
@import "http://fonts.googleapis.com/css?family=Roboto:400,700,300";
@import "bootstrap-3.3.4/less/bootstrap.less";
@import "home.less";
@import "elements.less";
@import "introjs.less";
@import "head.less";
@import "footer.less";

body {
    padding: 0;
}

@media (max-width: @screen-xs-max) {
    .pull-xs-left {
        float: left;
    }
    .pull-xs-right {
        float: right;
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .pull-sm-left {
        float: left;
    }
    .pull-sm-right {
        float: right;
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .pull-md-left {
        float: left;
    }
    .pull-md-right {
        float: right;
    }
}

@media (min-width: @screen-lg-min) {
    .pull-lg-left {
        float: left;
    }
    .pull-lg-right {
        float: right;
    }
}
