.masthead {
	width: 100%;
	min-height: 500px;
	max-height: 90%;
	position: relative;
	padding: 0;
	overflow: hidden;

	.map {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.search-top {

		.input-group {
			.box-shadow(2px 3px 5px 0px #555);
		}
	}

	.stick-bottom {
		position: absolute;
		bottom: 5px;
		margin-left: 0;
		margin-right: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
}
h1.head {
	text-align: center;
	margin-top: 0px;
	background-color: #449D44;
	color: #fff;
	padding: 20px 0px;
	// .box-shadow(0px 5px 8px 0px rgb(51, 51, 51));
	letter-spacing: 2px;
	border-radius: 0;
	margin-bottom: 0;
}

.scroll-up {
	position: fixed;
	font-size: 36px;
	right: 20px;
	bottom: 0;
	color: #000;
    z-index: 9;
	opacity: .3;
	&:hover, &:active, &:visited {
		color: inherit;
		text-decoration: none;
	}
	&:hover {
		opacity: .8;
	}
}

.live {
	margin: 0;
	padding: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: lighten(#449D44, 10%);
    .box-shadow(0 0 5px 0 #000);
    .exit {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 15px;
        color: #fff;
        font-size: 20px;
        opacity: .6;
        z-index: 1001;
        &:hover {
            opacity: 1;
            text-decoration: none;
        }
        &:active, &:visited {
            text-decoration: none;
        }
    }
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    padding: 10px;

    &.sidebar-brand {
        padding: 0;
        color: #fff;
        border-bottom: 1px solid #449D44;
        h2 {
            margin: 0;
            padding-top: 15px;
            letter-spacing: 2px;
        }
    }
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}
a, button {
    outline: 0 !important;
    &:active, &:hover, &:visited {
        outline: 0 !important;
    }
}
input::-moz-focus-inner { 
    border: 0; 
}