// main: global.less
.home-section {
    min-height: 400px; // Temp.
}

h2.underlined {
    border-bottom: 1px solid #ccc;
}

.error {
	position: absolute;
	height: 200px;
	max-width: 90%;
	width: 400px;
	padding: 50px;
	left: 5%;
	right: 5%;
	box-sizing: border-box;
	top: 20%;
	border: 4px solid #D43F3A;
	background-color: #fff;
	color: #000;
	font-size: 24px;
	z-index: 10;
	margin: 0 auto;
	text-align: center;
}

.btn-square {
	border-radius: 0 !important;
}
.places {
	overflow: hidden;
	height: 0;
	.box-shadow(-5px 1px 5px 0px rgb(51, 51, 51) inset);
	.transition(1s, ease-out);
	&.foldout {
		height: 500px;
		max-height: 500px;
		overflow-y: auto;
	}
}
.places-list {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	.place-list-element {
		padding: 10px;
		margin: 10px 0;
		box-sizing: border-box;
		border: 1px solid #aaa;
		height: 265px;
		overflow-y: auto;
	}
}

.btn-purple {
	@purple: #563D7C;
	background-color: @purple;
	color: #fff;
	border-color: darken(@purple, 10%);

	&:hover {
		background-color: darken(@purple, 5%);
		color: #fff;
		border-color: darken(@purple, 15%);
	}
}

pre {
    background-color: fade(#fff, 80%) !important;
    border: none;
}

.home-section {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 100%;
	box-sizing: border-box;
	position: relative;
	.box-shadow(0 0 5px 1px #000);
	.bcg {
		box-sizing: border-box;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	    height: 100%;
	    width: 100%;
	}
	color: #fff;
    a {
        text-decoration: underline;
        color: inherit;
        &:hover, &:active, &:visited {
            color: inherit;
            text-decoration: underline;
        }
    }
	&.option-machine-learning {
		.bcg {
			background-image:url('/static/tripy/images/machine-learning.jpg');
		}
	}
	&.option-visualization {
		.bcg {
			background-image:url('/static/tripy/images/visualization.jpg');
		}
	}
	&.option-network {
		.bcg {
			background-image:url('/static/tripy/images/network.jpg');
		}
	}
	&.option-api {
		.bcg {
			background-image:url('/static/tripy/images/api.png');
		}
	}
	&.option-django {
		.bcg {
			background-image:url('/static/tripy/images/django.png');
		}
	}
    &.option-video {
        .bcg {
        	@third_video_color: darken(#DA2625, 10%);
        	@second_video_color: darken(@third_video_color, 10%);
        	@first_video_color: darken(@second_video_color, 10%);
            background-color: @first_video_color;
            background: rgb(169,3,41); /* Old browsers */
			background: -moz-linear-gradient(top,  @first_video_color 0%, @second_video_color 44%, @third_video_color 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@first_video_color), color-stop(44%,@second_video_color), color-stop(100%,@third_video_color)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  @first_video_color 0%,@second_video_color 44%,@third_video_color 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  @first_video_color 0%,@second_video_color 44%,@third_video_color 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  @first_video_color 0%,@second_video_color 44%,@third_video_color 100%); /* IE10+ */
			background: linear-gradient(to bottom,  @first_video_color 0%,@second_video_color 44%,@third_video_color 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@first_video_color', endColorstr='@third_video_color',GradientType=0 ); /* IE6-9 */

        }
        iframe {
            max-height: 80%;
            .box-shadow(0 0 5px 2px #000);
        }
    }

	.overlay {
		width: 100%;
		height: 100%;
		display: block;
		background-color: fade(#000, 70%);
		.transition(.5s);
	}

	.content {
	    padding-bottom: 20px;
	}
}

.heightlight {
	overflow: auto;
	max-height: 500px;
}

.plot {
	border-radius: 4px;
	background-color: fade(#fff, 50%);
	width: 400px;
	min-height: 400px;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	.box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.37));

	&.plot-block {
		display: block;
		width: 100%;
	}
}

.btn-heatmap {
	position: relative;
	top: 5px;
	left: 0;
}

.loader {
	img {
		height: 200px;
		width: 200px;
	}
	max-width: 80%;
	max-height: 50%;
	text-align: center;
	padding: 10px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
}

.error-alerts {
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin-bottom: 0px;
	padding: 0px;
	z-index: 10;
    .alert {
		margin-bottom: 0px;
		margin-top: 10px;

		.btn {
			margin-top: -5px;
			color: #333;
			&:hover, &:active, &:visited {
				color: #333;
				text-decoration: none;
			}
		}
    }
}

.nav-pills {
	a {
		text-decoration: none !important;
		&:hover {
			background-color: lighten(#337AB7, 20%) !important;
		}
	}
}

.js-indegree {
    min-width: 100px;
    color: #000;
    padding: 5px;
    margin-bottom: 10px;
}